<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
  <main class="ease-soft-in-out xl:ml-68.5 relative h-full max-h-screen rounded-xl transition-all duration-200">

    <h2>
    <%= appointment.name %>
    </h2>

    <div class="row">
        <div class="col-xs-3">
        <dt>Description:</dt>
        </div>
        <div class="col-xs-9">
        <dd class="blockquote"><%= appointment.description %></dd>
        </div>
    </div>

  </main>
</body>