<div id="newAttenderModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add a Attendee</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form role="form" action="/meetings/<%= meeting.id %>/attenders" method="post" id="new-attender-form">
          <input type="hidden" name="action" value="add">
          <div class="form-group">
            <label for="email_input">Email address:</label>
            <input type="text" name="email" id="email_input" class="form-control" placeholder="Email of attendee">
          </div>
          <button type="submit" class="btn btn-primary submit" id="registration-form-submit" value="submit">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
